@font-face {
    font-family: "Lustra Bold";
    src: url("Lustra_Bold.otf") format("opentype");
    }
* {font-family: 'Lustra Bold', cursive;}

html {
    font-size: 100%;
}

body {
    color: white;
    background-color: black;
}
nav {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 4vw;
    z-index: 100;
    background-color: rgb(31, 103, 116);
    left: 0;
    text-align: right;
}
nav a {
    position: relative;
    top: 1.5rem;
    right: 2rem;
    font-size: large;
    text-decoration: none;
    color: white;
    padding-right: 2rem;
}
footer {
    position: block;
    left: 0;
    width: 97.9vw;
    background-color: rgb(31, 103, 116);
    left: 0;
    text-align: center;
    padding: 2rem;
}
h1,h2,h3,h4,h5,h6 {
    text-align: center;
}
#logo {
    width: 5vw;
    height: 6vh;
    position: absolute;
    left: 0;
    padding: 5px;
}
#hack {
    width: 100vw;
    height: 80vh;
    object-fit: cover;
}
.container {
    position: relative;
}
.centered {
    text-align: center;
    position: absolute;
    bottom: 5rem;
    width: 100vw;
    font-size: 2.5rem;
}
.flex {
    display: flex;
    max-height: 20rem;
    padding: 1rem;
    margin-bottom: 1rem;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 5rem;
}
.flex img {
    max-width: 50rem;
    object-fit: contain;
    padding: 1rem;
}
.block {
    display: flex;
    flex-flow: column;
}
h2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.flex p {
    font-size: 1.2rem;
    padding: 1rem;
    max-width: 50rem;
}